<div class="container-fluid">
  <form #contactForm="ngForm" (ngSubmit)="newContact(contactForm)">
    <div class="form-group">
      <label for="firstName">
        First Name
      </label>
      <input ngModel class="form-control" type="text" name="firstName" />
    </div>
    <div class="form-group">
      <label for="lastName">
        Last Name
      </label>
      <input ngModel class="form-control" type="text" name="lastName" />
    </div>
    <div class="form-group">
      <label for="email">
        Email
      </label>
      <input ngModel class="form-control" type="text" name="email" />
    </div>
    <div class="form-group">
      <label for="phone">
        Phone Number
      </label>
      <input ngModel class="form-control" type="text" name="phone" />
    </div>
    <div class="form-group">
      <label for="city">
        City
      </label>
      <input ngModel class="form-control" type="text" name="city" />
    </div>
    <div class="form-group">
      <label for="state">
        State
      </label>
      <input ngModel class="form-control" type="text" name="state" />
    </div>
    <div>
      <label for="origin">Where did you hear about us?</label>
      <div>
        <select name="origin">
          <option [value]="origin.name" *ngFor="let origin of origins" [selected]="origin.name == 'Google'">{{origin.name}}</option>
        </select>
      </div>
    </div>
    <div>
      <label for="">When will you attend?</label>
      <div *ngFor="let cohort of cohorts">
          <input ngModel name="cohort" type="radio"  [value]="cohort" />
          <label for="{{cohort.name}}">
            {{cohort.startDate | date}}
          </label>
      </div>
    </div>
    <div>
      <input type="submit" value="Continue" class="btn btn-primary" />
    </div>
  </form>
</div>
